@model UpsConnectService.ViewModels.Users.UserViewModel;


@{
    ViewData["Title"] = "Service View";
}

<h1>@ViewData["Title"]</h1>

<p>Страница мониторинга устройств</p>
<br>

<div class="bubble container">
   <p>
       <label>Серийный номер: </label>
       <label id="serialNumber"/>
   </p>
   <p>
       <label>Название устройства: </label>
       <label id="nameDevice" />
   </p>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>



